<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>
    <h1>Profile</h1>
    <h2>Avatar</h2>
        <img alt="Ảnh mòe" src="https://s-media-cache-ak0.pinimg.com/736x/d5/c8/8a/d5c88afdd30e8aec38224cbbf8b392d7.jpg" width="100">
    <h2>Full name</h2>
        <p>Mio Nguyễn</p>
    <h2>Education</h2>
        <p>Uneducated</p>
    <h2>Work Experience</h2>
        <p>None so far</p>
    <h2>Location</h2>
        <p>John Cena</p>
    <h2>Martial Status</h2>
        <p>Single</p>
    <h2>Quote</h2>
        <p>Earth without art is just Eh</p>
    <h2>Email</h2>
        <p>mionguyen@catmail.com</p>
    <h2>Phone</h2>
        <p>Đuôi tứ quý 9</p>
    <h2>Birthday</h2>
        <p>12/06/2014</p>

</body>
</html>