<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {{ current_time }}
    <h1> Tiếng Việt </h1>
    <p> Paragraph </p>
    <p> Paragraph </p>
    <div> division </div>
    <div> division </div>
    <div>{{ number_of_visitor }} ppl have visited this site! </div>
    <img alt="BladeStorm" src="https://i.ytimg.com/vi/G9RKEpNvKWA/hqdefault.jpg">
    <a target="_blank" href="http://www.google.com.vn">link google</a>

    <!-- Comments -->
</body>
</html>